body {
  margin: 0;
}
.main-div {
  width: 100%;
  height: 100%;
}
.table1 {
  empty-cells: show;
  width: 98%;
  border-collapse: collapse;
  border: 1px solid black;
}

.table1 th,
td {
  height: 25px;
}

.table1 tr:nth-child(even) {
  background: #e3e6ee;
}

.update {
  background-color: #ffff;
  display: inline-block;
  height: 600px;
  width: 79.6%;
  position: relative;
  left: 5px;
}

.update h1 {
  background-color: #ffba00;
  border-radius: 5px;
  color: #444851;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 98%;
}

.welcome {
  background-color: #444851;
  width: 19%;
  height: 667px;
  float: left;
  position: relative;
}

.welcome h2 {
  color: #ffba00;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 60%;
}

.welcome p {
  color: #ffba00;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 60%;
}

.update-btn {
  background-color: #ffba00;
  color: #444851;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 10px 0 0;
  padding: 0.4rem;
  right: 2px;
  border-radius: 5px;
  text-decoration: none;
  width: 7%;
}
