body {
  margin: 0;
}
.main-div {
  width: 100%;
  height: 100%;
}

.form1 {
  text-align: center;
}

.update {
  background-color: #e3e6ee;
  display: inline-block;
  height: 667px;
  width: 79.6%;
  position: relative;
  left: 5px;
}

.update h1 {
  background-color: #ffba00;
  border-radius: 5px;
  color: #444851;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 98%;
}

.update-btn {
  background-color: #ffba00;
  color: #444851;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 10px 0 0;
  padding: 0.4rem;
  right: 2px;
  border-radius: 5px;
  text-decoration: none;
  width: 7%;
}

.welcome {
  background-color: #444851;
  width: 19%;
  height: 667px;
  float: left;
  position: relative;
}


.welcome h2 {
  color: #ffba00;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 60%;
}

.welcome p {
  color: #ffba00;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 60%;
}
