.tg {
  border-collapse: collapse;
  border-color: #ccc;
  border-spacing: 0;
}
.tg td {
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 20px 20px;
  word-break: normal;
}
.tg th {
  background-color: #f0f0f0;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 20px 20px;
  word-break: normal;
}
.tg .tg-ix6g {
  border-color: inherit;
  font-family: Verdana, Geneva, sans-serif !important;
  text-align: center;
  vertical-align: top;
}

header {
  background-color: #e6e6e6;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, sans-serif !important;
  text-align: center;
  vertical-align: top;
}

.sidenav {
  height: 100%;
  width: 17%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #444851;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
  vertical-align: top;
}

.sidenav h2 {
  color: #ffba00;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 60%;
}

.sidenav p {
  color: #ffba00;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 60%;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.c {
  background-color: #444851;
  color: #ffba00;
  text-align: center;
  vertical-align: top;
}

.update h1 {
  background-color: #ffba00;
  border-radius: 5px;
  color: #444851;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 98%;
}

body {
  margin: 0;
}
.main-div {
  width: 100%;
  height: 100%;
}
.table1 {
  empty-cells: show;
  width: 98%;
  border-collapse: collapse;
  border: 1px solid black;
}

.table1 th,
td {
  height: 25px;
}

.table1 tr:nth-child(even) {
  background: #e3e6ee;
}

.update {
  background-color: #ffff;
  display: inline-block;
  height: 600px;
  width: 79.6%;
  position: relative;
  left: 5px;
}

.update h1 {
  background-color: #ffba00;
  border-radius: 5px;
  color: #444851;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 98%;
}

.welcome {
  background-color: #444851;
  width: 19%;
  height: 667px;
  float: left;
  position: relative;
}

.welcome h2 {
  color: #ffba00;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 60%;
}

.welcome p {
  color: #ffba00;
  margin: 2rem auto;
  padding: 0.6rem;
  text-align: center;
  width: 60%;
}

.update-btn {
  background-color: #ffba00;
  color: #444851;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 10px 0 0;
  padding: 0.4rem;
  right: 2px;
  border-radius: 5px;
  text-decoration: none;
  width: 7%;
}
